{% extends 'base.html' %}
{% include 'header.html' %}
{% block title %} Home {% endblock %}
{% block body %}

<div>
    <link rel="stylesheet" href="{{ url_for('static', filename='patients.css') }}"> 
    <h1> Our dashboard page is currently under construction...</h1>
    <h1> Please stay tuned for more! Thank you for your patience! </h1>

    <div style="text-align:center">
        <img src ="https://condadminrd.com/img-under-construction.png" width="1000" height="600" alt="Under Construction Image">
    </div>

</div>

{% endblock %}